node_modules
app/.expo
app/.expo
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.DS_Store
website/.ci/cred.json
app/build
.secret
server/build
yarn-error.log

/server/.env
.terraform
Scripts/record-liveresultat/out
Scripts/record-liveresultat/outold
Scripts/devops/terraform.tfvars

app/android/app/build
app/android/build
app/android/.gradle
app/ios/rn.ipa
app/ios/rn.app.dSYM.zip
app/ios/fastlane/report.xml
app/ios/Pods

google-key.json
app/android/fastlane/report.xml
app/ios/LiveOL.xcworkspace/xcuserdata/*

*.p8

.phrase.yml
/server/tsconfig.tsbuildinfo
