node_modules
App/.expo
app/.expo
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.DS_Store
Website/.ci/cred.json
app/build
.phraseapp.yml
.secret
server/build
yarn-error.log

/Server/.env
.terraform
Scripts/record-liveresultat/out
Scripts/record-liveresultat/outold
Scripts/devops/terraform.tfvars

App/android/app/build
App/android/build
App/android/.gradle
App/ios/rn.ipa
App/ios/rn.app.dSYM.zip
App/ios/fastlane/report.xml
