# Server
NODE_ENV=production
PORT=3000

# Decap CMS
# Setup Git Gateway: https://github.com/settings/apps
GITHUB_CLIENT_ID=your_github_oauth_app_id
GITHUB_CLIENT_SECRET=your_github_oauth_app_secret

# Domain
DOMAIN=orienteeringliveresults.com
